

@media screen and (max-width: 480px) {

  .flex_container {
    flex-direction: column;
    padding: 10px;
  }

  .contact_picture {
    display: none;
  }
  .card{
   width: auto;
  margin-left: 20px;
  margin-right: 20px;
  }
  .mobile_nav {
    flex-direction: row;
  }
  .contact_form{
    width: auto;
  }
}